.fullBackground {
    background-color: #121212;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
}

.chatAreaWrapper {
    border-radius: 12px;
    overflow: hidden;
    border: none;
}
.chatArea {
    @media screen and (max-width: 425px) {
        width: 200px;
        height: 500px;
    }
    @media screen and (min-width: 425px) {
        width: 300px;
        height: 500px;
    }
    @media screen and (min-width: 770px) {
        height: 500px;
        width: 500px;
    }
    @media screen and (min-width: 980px) {
        height: 800px;
        width: 800px;
    }
    /* @media screen and (min-width: 980px) {
        height: 800px;
        width: 800px;
    } */
    display: flex;
    max-height: 80vh;
    scrollbar-gutter: stable both-edges;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.1);
    padding: 10px 10px;
    background-color: #343434;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 55px;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: flex-start;
}
.inputBox {
    @media screen and (max-width: 425px) {
        width: 220px;
    }
    @media screen and (min-width: 425px) {
        width: 320px;
    }
    @media screen and (min-width: 770px) {
        width: 520px;
    }
    @media screen and (min-width: 980px) {
        width: 820px;
    }
    margin-top: 2px;
    position: relative;
    height: 50px;
    padding-right: 5px;
    display: flex;
    background-color: #343434;
    border-radius: 15px;
}
.inputBox input {
    background-color: #343434;
    border: none;
    color: silver;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    margin-top: 0;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.inputBox button {
    background-color: #343434;
    height: 50px;
    border: none;
    padding-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon-2xl {
    stroke-width: 1.5;
    background-color: #e1e1e1;
    border-radius: 50%;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    transition: ease-in-out 0.25s;
}
.icon-2xl:hover {
    transform: scale(1.2);
}
.icon-2xl:active {
    transform: translateY(1px);
}
